<html>
<body>
<div class="container">
    <h1>Login credentials for R2</h1>
    <br>
    <form action="/configr3" method="post">
      <input type="text" placeholder="ip address of host" name="ipadr2" value="{{
        request.form.ipadr2 }}">
      <input type="text" placeholder="Username2" name="username2" value="{{
        request.form.username2 }}">
       <input type="password" placeholder="Password2" name="password2" value="{{
        request.form.password2 }}">
        <h3>OSPF Information for R2</h3>
        <input type="number" placeholder="ospf pid" name="pid2" value="{{
          request.form.pid2 }}">
          <input type="text" placeholder="network adv 1" name="net1" value="{{
            request.form.net1 }}">
          <input type="text" placeholder="network adv 2" name="net2" value="{{
              request.form.net2 }}">
          <input type="number" placeholder="ospf aid for network 1" name="aid1" value="{{
              request.form.aid1 }}">
          <input type="number" placeholder="ospf aid for network 2" name="aid2" value="{{
                request.form.aid2 }}">
        <input type="text" placeholder="loopback" name="loopback2" value="{{
          request.form.loopback2 }}">
        
      <input class="btn btn-default" type="submit" value="submit">
    </form>
    {% if error %}
      <p class="error"><strong>Error:</strong> {{ error }}
    {% endif %}
  </div>
  </body>
  </html>